h2 {
  text-align: center;
}

#wrapper {
  margin: auto;
  position: relative;
  top: 10vh
}

#time-container {
  margin-top: 30%;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  text-align: center;
  margin: auto;
}

h3 {
  text-align: center
}
